/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
html,
body {
	height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
	
	display: block;
}
b,
strong {
	/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
	
	font-weight: bold;
}
img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
	
	-ms-interpolation-mode: bicubic;
}
ol,
ul {
	list-style: none;
}
li {
	/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
	
	display: list-item;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}
q {
	quotes: none;
}
q:before,
q:after {
	content: "";
	content: none;
}
sub,
sup,
small {
	font-size: 75%;
}
sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
svg {
	/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
	
	overflow: hidden;
}
body {
	background: #FFF;
	font-size: 16px;
	color: #333;
}
div {
	position: relative;
}
button {
	border: none;
	background: #333;
	margin: 0;
	padding: 0;
	color: #FFF;
	height: 28px;
	line-height: 28px;
	outline: none;
}
textarea {
	outline: none;
}
a {
	color: #333;
	text-decoration: none;
}
.h10px {
	height: 10px;
}
.bold {
	font-weight: bold;
}
.clear,
.clear-5,
.clear-10,
.clear-15,
.clear-20,
.clear-30,
.clear-50 {
	clear: both;
	display: block;
	font-size: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clear-5 {
	height: 5px;
}
.clear-10 {
	height: 10px;
}
.clear-15 {
	height: 15px;
}
.clear-20 {
	height: 20px;
}
.clear-30 {
	height: 30px;
}
.clear-50 {
	height: 50px;
}
.pad-b-30 {
	padding-bottom: 30px;
}
.pad-t-30 {
	padding-top: 30px;
}
.pad-b-20 {
	padding-bottom: 20px;
}
.pad-t-20 {
	padding-top: 20px;
}
.pad-30 {
	padding: 30px;
}
.pad-15 {
	padding: 15px;
}
.pad-10 {
	padding: 10px;
}
.tc {
	text-align: center !important;
}
.trt {
	text-align: right !important;
}
.lf {
	float: left;
}
.rf {
	float: right;
}
.font12px {
	font-size: 12px;
}
.ntp {
	padding-top: 0 !important;
}
.ntb {
	border-top: 0 !important;
}
div:after,
p:after {
	display: block;
	clear: both;
	content: "";
}
.lightgray {
	color: #a0a0a0;
}
.nothing-btn {
	border: none;
	margin: 0;
	padding: 0;
	background: none;
	display: inline-block;
}
#llbei {
	background:rgba(0,0,0,.5);
	border-radius:100px;
	padding:5px 15px;
	color:#FFF;
	right:20px;
	bottom:20px;
	display:inline-block;
	position:absolute;
	font-family: helvetica, arial;
	z-index:5;
}

/* popupbox (START) */

.P_tmp {
	display: none;
}
.P_popupbg {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.P_okbtn {
	border: 1px solid #3ca0dd;
	border-color: rgba(46, 86, 153, 0.1);
	border-bottom-color: #2e7cc1;
	border-bottom-color: rgba(46, 86, 153, 0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-image: linear-gradient(#45b1e8, #3097de);
	padding: 5px;
	color: #FFF;
	width: 100%;
	margin-top: 5px;
	outline: none;
}
#P_alertbox,
#P_confirm {
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	position: absolute;
}
#P_popup {
	/*background:rgba(255,255,255,0.6);*/
	
	background: rgba(0, 0, 0, 0.4);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}
.P_bg {
	background: #FFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	left: 50%;
	/*overflow:hidden;*/
	
	position: absolute;
	top: 50%;
}
.P_closebtn {
	cursor: pointer;
	display: none;
	font-size: 22px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 24px;
	z-index: 12;
	background:#444;
	color:#FFF;
	text-shadow: none;
}
.P_closebtn:active {
	color: #EF3546;
}
#P_confirm .P_confirm_btns {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
#P_confirm .P_confirm_btns .P_confirm_btn {
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: none;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	bottom: 0;
	color: #FFF;
	left: 0;
	position: absolute;
	width: 50%;
}
#P_confirm .P_confirm_btns .P_confirm_btn[action="confirm"] {
	border-right: none;
	left: auto;
	right: 0;
}
#P_confirm .P_confirm_btns .P_confirm_btn[action="cancel"] {
	border-left: none;
	border-right: none;
	color: rgba(255, 255, 255, 0.5);
	left: 0;
	right: auto;
}
#P_confirm .P_confirm_btns .P_confirm_btn:hover {
	background: rgba(255, 255, 255, 0.05);
}
.P_wp_msg {
	padding-bottom: 45px !important;
}

.P_wp button {
	font-size:14px;
}
