/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
html,
body {
	height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
	
	display: block;
}
b,
strong {
	/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
	
	font-weight: bold;
}
img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
	
	-ms-interpolation-mode: bicubic;
}
ol,
ul {
	list-style: none;
}
li {
	/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
	
	display: list-item;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}
q {
	quotes: none;
}
q:before,
q:after {
	content: "";
	content: none;
}
sub,
sup,
small {
	font-size: 75%;
}
sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
svg {
	/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
	
	overflow: hidden;
}
body {
	background: #eaeaea;
	font-size: 16px;
	color: #333;
}
div {
	position: relative;
}
button {
	border: none;
	background: #333;
	margin: 0;
	padding: 0;
	color: #FFF;
	height: 28px;
	line-height: 28px;
	outline: none;
}
textarea {
	outline: none;
}
a {
	color: #333;
	text-decoration: none;
}
.h10px {
	height: 10px;
}
.bold {
	font-weight: bold;
}
.clear,
.clear-5,
.clear-10,
.clear-15,
.clear-20,
.clear-30,
.clear-50 {
	clear: both;
	display: block;
	font-size: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clear-5 {
	height: 5px;
}
.clear-10 {
	height: 10px;
}
.clear-15 {
	height: 15px;
}
.clear-20 {
	height: 20px;
}
.clear-30 {
	height: 30px;
}
.clear-50 {
	height: 50px;
}
.pad-b-30 {
	padding-bottom: 30px;
}
.pad-t-30 {
	padding-top: 30px;
}
.pad-b-20 {
	padding-bottom: 20px;
}
.pad-t-20 {
	padding-top: 20px;
}
.pad-30 {
	padding: 30px;
}
.pad-15 {
	padding: 15px;
}
.pad-10 {
	padding: 10px;
}
.tc {
	text-align: center !important;
}
.trt {
	text-align: right !important;
}
.lf {
	float: left;
}
.rf {
	float: right;
}
.font12px {
	font-size: 12px;
}
.ntp {
	padding-top: 0 !important;
}
.ntb {
	border-top: 0 !important;
}
div:after,
p:after {
	display: block;
	clear: both;
	content: "";
}
.lightgray {
	color: #a0a0a0;
}
.nothing-btn {
	border: none;
	margin: 0;
	padding: 0;
	background: none;
	display: inline-block;
}
.tcfilter-fix {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	background: rgba(246, 246, 246, .9);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	z-index: 9;
}
.tcfilter-fix .loc-bt,
.tcfilter-fix .sort-bt {
	float: left;
	height: 100%;
	position: relative;
	width: 60px;
}
.tcfilter-fix .loc-bt:active,
.tcfilter-fix .sort-bt:active {
	background-color: #E0E0E0;
}
.tcfilter-fix .sort-bt {
	float: right;
}
.tcfilter-fix .loc-bt,
.tcfilter-fix .sort-bt {
	background: url(../img/top-fix-list-location.png) center center no-repeat;
	background-size: contain;
}
.tcfilter-fix .sort-bt {
	background-image: url(../img/top-fix-list-dl.png);
}
.tcfilter-fix .loc-bt.selected {
	background-image: url(../img/top-fix-list-location-open.png);
}
.tcfilter-fix .sort-bt.selected {
	background-image: url(../img/top-fix-list-dl-open.png);
}
.tcfilter-fix .switcher {
	width: 40%;
	left: 50%;
	margin-left: -20%;
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 2;
}
.tcfilter-fix .comok-sp {
	height: 16px;
	position: absolute;
	top: 50%;
	background: rgba(0, 0, 0, .05);
	left: 50%;
	margin-left: -1px;
	width: 2px;
	margin-top: -8px;
}
.tcfilter-fix .switcher .comok {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	color: #a0a0a0;
	font-size: 16px;
}
.tcfilter-fix .switcher .comok.selected {
	color: #333;
}
.tcfilter-fix .switcher .comok.rt {
	left: auto;
	right: 0;
}
.tcfilter-fix .switcher .comok .txt {
	display: inline-block;
	height: 100%;
	position: relative;
}
.tcfilter-fix .switcher .comok .l {
	display: none;
	height: 4px;
	width: 100%;
	position: absolute;
	top: 100%;
	margin-top: -11px;
	background: #ff7286;
	border-radius: 0;
	left: 0;
}
.tcfilter-fix .switcher .comok.selected .l {
	display: inline-block;
}
.tcfilter-fix .switcher .comok .wp {
	margin: 0 15px;
	height: 100%;
	position: relative;
}
.tcfilter-fix .switcher .comok:active {
	background: #E0E0E0;
}
.tcfilter-fix * {
	line-height: inherit;
}
.tcfilter-container {
	padding-top: 60px;
}
.tcfilter-container.padt50 {
	padding-top: 50px;
}
.user-intro .li {
	float: left;
	margin-right: 10px;
}
.user-intro-img {
	width: 36px;
	height: 36px;
	border-radius: 3px;
}
.user-intro-txt {
	font-size: 16px;
	margin-bottom: 4px;
}
.user-intro-skill {
	font-size: 12px;
	color: #a0a0a0;
}
.user-intro-tag {
	position: absolute;
	right: 0;
	top: 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 2px;
	font-size: 12px;
	text-align: center;
}
.user-intro-tag .t1 {
	display: block;
	margin-bottom: 2px;
}
.user-intro-tag .t2 {
	color: #ff7286;
}
.teacher-itm {
	background: #FFF;
	margin-bottom: 10px;
}
.teacher-itm:active {
	background: #FBFBFB;
}
.teacher-img-big {
	width: 100%;
}
.teacher-itm .teacher-score {
	color: #ff7286;
	font-size: 12px;
}
.tcfilter-sort {
	position: absolute;
	top: 51px;
	left: 0;
	width: 100%;
	background: #EAEAEA;
	text-align: center;
	display: none;
}
.tcfilter-sort .wp {
	padding: 25px 15px;
}
.tcfilter-sort * {
	line-height: normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.tcfilter-sort .p1 {
	color: #aaa;
	margin-bottom: 10px;
	display: inline-block;
}
.tcfilter-sort .itmbtn {
	padding: 0 20px;
	color: #a0a0a0;
	margin: 0 2px;
	background: #ddd;
	font-size: 14px;
	border-radius: 4px;
}
.tcfilter-sort .itmbtn.selected {
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	background: #ff7286;
	color: #FFF;
}
.menu-fix {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	z-index: 5;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	background: rgba(246, 246, 246, .9);
	overflow: hidden;
}
.menu-fix-itm {
	height: 100%;
	text-align: center;
	font-size: 16px;
	width: 50%;
	float: left;
	color: #888;
}
.menu-fix-itm.selected {
	background: #ff7286;
	color: #FFF;
	/*box-shadow: 0 0 5px rgba(0,0,0,.2);*/
}
.list-end-loadmore {
	padding: 20px 0 80px 0;
	text-align: center;
	color: #bbb;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.cc-itm {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
	width: 100%;
	position: relative;
	margin-bottom: 1px;
}
.cc-itm .cv {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	z-index: 2;
}
.cc-itm:active .cv {
	background: rgba(0, 0, 0, .4);
}
.cc-itm .tt,
.cc-itm .stt {
	height: 40px;
	line-height: 40px;
	color: #FFF;
	top: 50%;
	margin-top: -30px;
	width: 100%;
	text-align: center;
	z-index: 3;
	position: absolute;
	font-size: 26px;
	text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
.cc-itm .stt {
	font-size: 14px;
	margin-top: -3px;
}
/* $.waiting()部分（START） */

.rotatedivwrapper {
	display: none;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 30;
}
.rotatedivwrapper .rotatediv {
	background: url(../img/loading-spin.svg) center center no-repeat;
	background-size: cover;
	height: 42px;
	left: 50%;
	margin-left: -21px;
	margin-top: -21px;
	position: absolute;
	top: 50%;
	width: 42px;
}
.rotatedivwrapper > .msg {
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: 42px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	width: 400px;
	color: rgba(255, 255, 255, .75);
	font-size: 14px;
}
/* $.waiting()部分（END） */

.swipe {
	background: url(../img/imgs-bg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe .gl {
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5;
	text-align: right;
	box-sizing: border-box;
	padding-top: 5px;
	padding-right: 20px;
}
.swipe .gl .pgitm {
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	display: inline-block;
	border-radius: 100px;
	margin: 0 3px;
}
.swipe .gl .pgitm.selected {
	background: rgba(255, 255, 255, .85);
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > .figure {
	float: left;
	width: 100%;
	position: relative;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.swipe-wrap > .figure.contain {
	background-size: contain;
}
.mentor-intro-blk {
	text-align: center;
	background: #f9f9f9;
	padding: 20px 15px 0 15px;
	/*box-shadow: 0 1px 3px rgba(0, 0, 0, .05);*/
}
.mentor-intro-blk .usrimg {
	width: 70px;
	height: 70px;
	border-radius: 200px;
	margin-bottom: 15px;
	margin-top: -40px;
	border: 2px solid #FFF;
}
.mentor-intro-blk .usrgener {
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 32px;
	margin-left: 15px;
	z-index: 11;
}
.mentor-intro-blk .usrgener.selected {
	display: block;
}
.mentor-intro-blk .com-star {
	width: 12px;
	height: 12px;
}
.mentor-intro-blk .com-star-l {
	color: #aaa;
	font-size: 14px;
	border: 1px solid #DDD;
	width: 150px;
	margin: 0 auto;
	padding: 8px 0;
}
.mentor-intro-blk .com-star-gall {
	margin-bottom: 5px;
}
.mentor-intro-blk .user-tt {
	margin-bottom: 5px;
	font-size: 20px;
}
.mentor-intro-blk .user-tt .nm {
	height: 20px;
	display: inline-block;
	position: relative;
}
.mentor-intro-blk .user-tt .nm.has_cert {
	padding-right: 52px;
}
.mentor-intro-blk .user-tt .nm .cert {
	position: absolute;
	right: 0;
	display: inline-block;
	height: 16px;
	top: 50%;
	margin-top: -8px;
	line-height: 16px;
	font-size: 12px;
	padding: 0 5px;
	border-radius: 100px;
	background: #FF7286;
	color: #FFF;
}
.mentor-intro-blk .user3-desc {
	margin-bottom: 15px;
	color: #999;
	font-size: 12px;
	line-height: 20px;
}
.mentor-intro-blk .user3-desc .dt {
	color: #333;
}
.t3col-group {
	border-top: 1px solid #E2E2E2;
	display: table;
	width: 100%;
	margin-top: 20px;
}
.t3col-group .t1col {
	display: table-cell;
	width: 25%;
}
.t3col-group .t1col .wp {
	padding: 15px 0;
	text-align: center;
}
.t3col-group .t1col .wp .t1 {
	font-size: 12px;
	margin-bottom: 5px;
	color: #999;
}
.t3col-group .t1col .wp .t2 {
	font-size: 16px;
	color: #FF7286;
}
.t3col-group .t1col .wp .t2 span {
	font-size: 10px;
	color: #aaa;
	margin-left: 2px;
}
.dipu1 {
	font-size: 14px;
	padding-bottom: 70px;
}
.dipu2 {
	border-bottom: 1px solid #ccc;
	margin: 0 15px;
	font-size: 14px;
}
.dipu3 {
	padding: 20px 0 6px 0;
	color: #999;
	text-align: left;
}
.dipu3.mmbe {
	margin-bottom: 5px;
}
.dipu4 {
	padding: 0 0 15px 0;
	line-height: 24px;
}
.mgi-b1 {
	padding: 15px 0 0;
	text-align: center;
}
.mgi-b1 .b4ee {
	width: 60px;
	height: 60px;
	border-radius: 100px;
}
.mgi-b1 .b5ee {
	margin-top: 8px;
	font-size: 16px;
}
.mgi-b1 .b6ee {
	margin-top: 0;
	font-size: 12px;
	color: #999;
}
.mgi-b1 .b7ee {
	color: #1aa1cd;
	padding: 0 40px;
}
.mgi-b2 {
	margin: 15px 80px 5px 80px;
	border: 1px solid #999;
	color: #999;
	text-align: center;
	padding: 5px;
	border-radius: 2px;
}
.mgi-b2:active {
	border-color: #333;
	color: #333;
}
.dipu2.nbb {
	border-bottom: none;
}
.arr-r,
.arr-l {
	background: url(../img/arr-r.png) center center no-repeat;
	background-size: contain;
}
.mgi-b2 .arr-r {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
}
.time-tb {
	display: table;
	border-collapse: collapse;
	width: 100%;
	border-color: #ddd;
	margin-top: 5px;
	box-shadow: none;
}
.time-tb .tr {
	display: table-row;
	box-shadow: none;
}
.time-tb .td {
	display: table-cell;
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px 0;
	position: relative;
	width: 25%;
}
.time-tb .td.selected {
	background-color: #FF7286 !important;
	border-color: #FF7286 !important;
	color: #FFF;
	z-index: 5;
}
.time-tb .td.unclickable {
	background: #ddd !important;
	z-index: 5;
}
.time-tb .td:active {
	background: #EEE;
}
.btfixbar {
	background: #f9f9f9;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 5;
}
.btbookbtn {
	background: #FF7286;
	color: #FFF;
	border: none;
	float: right;
	height: 100%;
	padding: 0;
	width: 50%;
	font-size: 15px;
	background: #ddd;
	color: #aaa;
	line-height:50px;
}
.btbookbtn.selected {
	background: #FF7286;
	color: #FFF;
}
.rtselectedtime {
	box-sizing: border-box;
	font-size: 12px;
	float: left;
	line-height:50px;
	text-align:center;
	width:50%;
	font-size:15px;
	height:100%;
}

.rtselectedtime.selected {
	color:#FF7286;
}
.rtselectedtime .t1, .rtselectedtime .t2 {
	
}
.rtselectedtime .t1 {
	color:#FF7286;
	display:none;
}
.rtselectedtime .t2 {
	color:#aaa;
	display:inline-block;
}
.rtselectedtime.selected .t1 {
	display:inline-block;
}
.rtselectedtime.selected .t2 {
	display:none;
}

